In [43]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from IPython.core.display import HTML

In [44]:
urlbase_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
pages_2016 = 154
pages_2017 = 147
pages_2018 = 85
pages_2019 = 113
pgs_half_2016 = 898
pgs_half_2017 = 892
pgs_half_2018 = 598
pgs_half_2019 = 690
full_2016 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
full_2017 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
full_2018 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
full_2019 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
half_2016 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
half_2017 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
half_2018 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
half_2019 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])

**pages_2016 = 154**
**pages_2017 = 147**
**pages_2018 = 85**
**pages_2019 = 113**
**pgs_half_2016 = 898**
**pgs_half_2017 = 892**
**pgs_half_2018 = 598**
**pgs_half_2019 = 690**

**COLUMNS = Overall / Bib / Name / Time**

In [45]:
result2016f = requests.post(urlbase_2016)

result2016f.status_code

200

In [46]:
result2016f.content

b'\n<!DOCTYPE html>\n<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->\n<!--[if !IE]><!-->\n<html lang="en">\n<!--<![endif]-->\n<head>\n<script src="/cdn-cgi/apps/head/7FoXDn8p6JbK9hG0NSbLyMKO0Zg.js"></script><link href="/styles/vendor.min.css" rel="stylesheet" />\n<link href="/styles/rnr.min.css" rel="stylesheet" />\n<meta charset="utf-8" />\n<meta http-equiv="X-UA-Compatible" content="IE=edge">\n<meta http-equiv="Content-type" content="text/html; charset=utf-8">\n<meta content="width=device-width, initial-scale=1.0" name="viewport" />\n<title> | Rock n Roll Marathon Series | Marathon Half Marathon Events</title>\n<meta property="og:title" content="" />\n<meta property="og:image" content="" />\n<meta property="og:description" content="" />\n<meta property="og:url" content="https://www.runrocknroll.com:443/en/Events/Nashville/The Races/Marathon/2016 Results" />\n\n<script>\r\n        (function (w, d, s, l, i) {\r\n            w[l] = w[l] || [];\r\n            w[l].push({\r\n                \'gtm.start\':\r\n                    new Date().getTime(),\r\n                event: \'gtm.js\'\r\n            });\r\n            var f = d.getElementsByTagName(s)[0],\r\n                j = d.createElement(s),\r\n                dl = l != \'dataLayer\' ? \'&l=\' + l : \'\';\r\n            j.async = true;\r\n            j.src =\r\n                \'https://www.googletagmanager.com/gtm.js?id=\' + i + dl;\r\n            f.parentNode.insertBefore(j, f);\r\n        })(window, document, \'script\', \'dataLayer\', \'GTM-MFKTKL\');\r\n    </script>\n\n\n<script type="text/javascript">\r\n        (function () {\r\n            var didInit = false;\r\n            function initMunchkin() {\r\n                if (didInit === false) {\r\n                    didInit = true;\r\n                    Munchkin.init(\'124-QVG-738\');\r\n                }\r\n            }\r\n            var s = document.createElement(\'script\');\r\n            s.type = \'text/javascript\';\r\n            s.async = true;\r\n            s.src = \'//munchkin.marketo.net/munchkin.js\';\r\n            s.onreadystatechange = function () {\r\n                if (this.readyState == \'complete\' || this.readyState == \'loaded\') {\r\n                    initMunchkin();\r\n                }\r\n            };\r\n            s.onload = initMunchkin;\r\n            document.getElementsByTagName(\'head\')[0].appendChild(s);\r\n        })();\r\n    </script>\n\n\n<script src="/scripts/Sitecore.Foundation.Frameworks.min.js"></script>\n<script src="/scripts/Sitecore.Foundation.Theming.min.js"></script>\n<meta name="VIcurrentDateTime" content="637049702327679565" />\n<script type="text/javascript" src="/layouts/system/VisitorIdentification.js"></script>\n</head>\n<body class="header-static ">\n\n<noscript>\r\n        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFKTKL"\r\n                height="0" width="0" style="display:none;visibility:hidden"></iframe>\r\n    </noscript>\n\n<div id="main-container">\n<header class="header-static">\n<nav class="navbar navbar-default navbar-static" id="mainNavbar">\n<div class="container">\n<div class="row">\n<div class="nav-wrapper">\n<div class="navbar-right col-sm-12 col-md-2 col-lg-2 clearfix">\n<div class="navbar-activity event-navbar-activity">\n<ul class="nav navbar-nav">\n<li class="dropdown">\n<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">\n<i class="fa fa-globe"></i>\n</a>\n<ul class="dropdown-menu">\n<li class="">\n<a href="https://www.runrocknroll.com:443/it/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage(\'it\', \'en\', \'https://www.runrocknroll.com:443/it/events/nashville/the races/marathon/2016 results/\')">italiano</a>\n</li>\n<li class="">\n<a href="https://www.runrocknroll.com:443/zh/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage(\'zh\', \'en\', \'https://www.runrocknroll.com:443/zh/events/nashville/the races/marathon/2016 results/\')">\xe4\xb8\xad\xe6\x96\x87</a>\n</li>\n<li class="active">\n<a href="https://www.runrocknroll.com:443/en/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage(\'en\', \'en\', \'https://www.runrocknroll.com:443/en/events/nashville/the races/marathon/2016 results/\')">English</a>\n</li>\n<li class="">\n<a href="https://www.runrocknroll.com:443/fr/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage(\'fr\', \'en\', \'https://www.runrocknroll.com:443/fr/events/nashville/the races/marathon/2016 results/\')">fran&#231;ais</a>\n</li>\n<li class="">\n<a href="https://www.runrocknroll.com:443/de/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage(\'de\', \'en\', \'https://www.runrocknroll.com:443/de/events/nashville/the races/marathon/2016 results/\')">Deutsch</a>\n</li>\n<li class="">\n<a href="https://www.runrocknroll.com:443/es/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage(\'es\', \'en\', \'https://www.runrocknroll.com:443/es/events/nashville/the races/marathon/2016 results/\')">espa&#241;ol</a>\n</li>\n</ul>\n</li><li class="navbar-activity-search dropdown">\n<form action="/en/Search" class="navbar-form" role="search">\n<div class="form-group">\n<input type="text" name="query" id="searchInputBox" placeholder="Enter a text to search for..." autocomplete="off" />\n</div>\n</form>\n<a href="#" class="btn navbar-toggle-search" data-toggle-class="is-searching" data-target="#mainNavbar">\n<span class="glyphicon glyphicon-search"></span>\n</a>\n<div class="dropdown-menu dropdown-menu-wide" id="navbar-activity-search-results">\n<div class="row panel-loading">\n<div class="col-md-12">\n<div class="text-center p-b-1">\nSearching...\n</div>\n<div class="text-center">\n<span class="fa fa-spinner fa-2x fa-spin"></span>\n</div>\n</div>\n</div>\n<div class="row panel-results">\n<div class="col-md-12">\n<ul class="media-list results"></ul>\n</div>\n</div>\n<div class="row panel-result-count">\n<div class="col-md-12">\n<small>\n<em class="result-count"></em>\nsearch results found.\n</small>\n</div>\n</div>\n<div class="row panel-facet-values">\n<div class="col-md-12">\n<ul class="facet-values"></ul>\n</div>\n</div>\n<div class="row">\n<div class="col-md-12">\n<button class="btn btn-primary btn-sm pull-right" onclick="$(\'.navbar-activity-search form\').submit()">Search</button>\n</div>\n</div>\n</div>\n</li>\n</ul>\n</div>\n<div class="event-countdown">\n<input id="yEvent" type="hidden" value="2020" />\n<input id="mEvent" type="hidden" value="4" />\n<input id="dEvent" type="hidden" value="25" />\n<input id="hEvent" type="hidden" value="0" />\n<input id="mmEvent" type="hidden" value="0" />\n<input id="sEvent" type="hidden" value="0" />\n<table>\n<tr>\n<td id="ddcounter">&nbsp;</td>\n<td id="hhcounter"> </td>\n<td id="mmcounter"> </td>\n<td id="sscounter"> </td>\n</tr>\n<tr>\n<th>Days</th>\n<th>Hours</th>\n<th>Mins</th>\n<th>Secs</th>\n</tr>\n</table>\n</div>\n<ul class="nav navbar-nav mega-menu-results header-btn">\n<li class="dropdown">\n<a href="/en/Events/Nashville/Registration" class="dropdown-toggle btn btn-block">Register</a>\n</li>\n</ul>\n</div>\n<div class="navbar-left col-sm-12 col-md-2 col-lg-2">\n<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteNavbar" aria-expanded="false">\n<span class="sr-only">Toggle navigation</span>\n<span class="icon-bar"></span>\n<span class="icon-bar"></span>\n<span class="icon-bar"></span>\n</button>\n<a class="navbar-brand " href="/en">\n<span class="logo row">\n<img src="/-/media/RnR/Images/Logo/rock-n-roll-marathon-logo.png?h=50&amp;la=en&amp;mh=50&amp;w=270&amp;hash=B93502675AEE53BFDE866A7EEF0E5CD9" alt="Rock n Roll Marathon Series" width="270" height="50" DisableWebEdit="False" />\n</span>\n</a>\n</div>\n<div class="navbar-center col-sm-12 col-md-8 col-lg-8">\n<div class="collapse navbar-collapse" id="siteNavbar">\n<ul class="nav navbar-nav">\n<li class="">\n<a class="text-uppercase" href="/en/Events" target="">\nEvents\n</a>\n</li>\n<li class="">\n<a class="text-uppercase" href="/en/Programs" target="">\nPrograms\n</a>\n</li>\n<li class="">\n<a class="text-uppercase" href="/en/Travel" target="">\nTravel\n</a>\n</li>\n<li class="">\n<a class="text-uppercase" href="/en/Results" target="">\nResults\n</a>\n</li>\n<li class="">\n<a class="text-uppercase" href="/en/Blog" target="">\nBlog\n</a>\n</li>\n<li class="">\n<a class="text-uppercase" href="https://www.runrocknrollstore.com/" target="_blank">\nShop\n</a>\n</li>\n<li class="">\n<a class="text-uppercase" href="/en/Partners" target="">\nPartners\n</a>\n</li>\n</ul>\n</div>\n\n<div class="row nav-mega-menu">\n<div class="col-lg-12">\n<ul class="nav navbar-nav mega-menu-main">\n<li class=" nav-2 col-lg-6  dropdown">\n<a href="" class="dropdown-toggle btn btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\nThe Races\n</a>\n<div class="mega-menu-content">\n<div class="row">\n<div class="col-xs-12 col-sm-3 col-md-3">\n<div class="collapse navbar-collapse" id="siteNavbar">\n<ul class="nav nav-service navbar-nav nav-pills">\n<li class="">\n<a href="/en/Events/Nashville/The-Races/FAQ" target="" title="FAQ" class="">\nFAQ </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/Confirm-Entry" target="" title="Confirm Entry" class="">\nConfirm Entry </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/Charity" target="" title="Charity" class="">\nCharity </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/Results" target="" title="Results" class="">\nResults </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/Road-Closures" target="" title="Road Closures" class="">\nRoad Closures </a>\n</li>\n<li class="">\n<a href="/en/Elite-Athletes" target="" title="Elites" class="">\nElites </a>\n</li>\n<li class="">\n<a href="/en/Programs/Athletes-with-Disabilities" target="" title="Athletes with Disabilities" class="">\nAthletes with Disabilities </a>\n</li>\n</ul>\n</div>\n</div>\n<div class="col-xs-12 col-sm-4 col-md-4">\n<div class="collapse navbar-collapse" id="siteNavbar">\n<ul class="nav nav-service navbar-nav nav-pills">\n<li class="">\n<a href="/en/Events/Nashville/The-Races/Courses" target="" title="Courses" class="">\nCourses </a>\n</li>\n<li class="active ">\n<a href="/en/Events/Nashville/The-Races/Marathon" target="" title="Marathon" class="">\nMarathon </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/Half-Marathon" target="" title="Half Marathon" class="">\nHalf Marathon </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/5K" target="" title="5k" class="">\n5k </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/1-Mile" target="" title="1 Mile" class="">\n1 Mile </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/Doggie-Dash" target="|Custom" title="Doggie Dash" class="">\nDoggie Dash </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/KiDS-ROCK" target="" title="KiDS ROCK" class="">\nKiDS ROCK </a>\n</li>\n</ul>\n</div>\n</div>\n</div> </div>\n</li>\n<li class=" nav-2 col-lg-6  dropdown">\n<a href="" class="dropdown-toggle btn btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\nThe Weekend\n</a>\n<div class="mega-menu-content">\n<div class="row">\n<div class="col-xs-12 col-sm-3 col-md-3">\n<div class="collapse navbar-collapse" id="siteNavbar">\n<ul class="nav nav-service navbar-nav nav-pills">\n<li class="">\n<a href="/en/Events/Nashville/The-Weekend/Expo" target="" title="Expo" class="">\nExpo </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Weekend/Schedule" target="" title="Schedule" class="">\nSchedule </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Weekend/Race-Weekend-Information-Center" target="|Custom" title="Race Weekend Information" class="">\nRace Weekend Information </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Weekend/Entertainment" target="" title="Entertainment" class="">\nEntertainment </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Weekend/Travel/Transport" target="|Custom" title="Parking Information" class="">\nParking Information </a>\n</li>\n</ul>\n</div>\n</div>\n<div class="col-xs-12 col-sm-2 col-md-2">\n<div class="collapse navbar-collapse" id="siteNavbar">\n<ul class="nav nav-service navbar-nav nav-pills">\n<li class="divider-left">\n<a href="/en/Events/Nashville/News-and-Promotions" target="|Custom" title="News and Promotions" class="">\nNews and Promotions </a>\n</li>\n<li class="divider-left">\n<a href="/en/Events/Nashville/The-Weekend/Runner-Perks" target="|Custom" title="Runner Perks" class="">\nRunner Perks </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Weekend/Volunteer" target="" title="Volunteer" class="">\nVolunteer </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Weekend/VIP" target="" title="VIP" class="">\nVIP </a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Weekend/Travel" target="" title="Travel" class="">\nTravel </a>\n</li>\n</ul>\n</div>\n</div>\n</div> </div>\n</li>\n</ul>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</nav>\n</header>\n<main role="main">\n<header class="page-header bg-media" style=background-image:url(&#39;/-/media/RnR/Images/Events/Nashville/Images/nash-hero-new-compressor.jpg&#39;);>\n<div class="container breadcrumb-container">\n<ol class="breadcrumb">\n<li class="">\n<a href="/en">Home</a>\n</li>\n<li class="">\n<a href="/en/Events">Events</a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville">Nashville</a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races">The Races</a>\n</li>\n<li class="">\n<a href="/en/Events/Nashville/The-Races/Marathon">Marathon</a>\n</li>\n<li class="active">\n<a href="/en/Events/Nashville/The-Races/Marathon/2016-Results">2018 Results</a>\n</li>\n</ol>\n</div>\n<div class="container text-center g-pb-50">\n<div class="row g-min-height-500">\n<div class="col-lg-12">\n<div class="event-header-container">\n<div class="row ev-h2-div">\n<div class="divider-div">\n<div class="low-divider"></div>\n</div>\n<div class="ev-h2">\n<h2>\nSt. Jude Rock &#39;n&#39; Roll </h2>\n</div>\n<div class="divider-div">\n<div class="low-divider"></div>\n</div>\n</div>\n<div class="ev-h1">\n<h1>\nNashville </h1>\n</div>\n<div class="row ev-h3-div">\n<div class="divider-div">\n<div class="low-divider"></div>\n</div>\n<div class="ev-h3">\n<h3>\n<time>\nApr 25 - 26, 2020\n</time>\n</h3>\n</div>\n<div class="divider-div">\n<div class="low-divider"></div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</header>\n<section class="section section-full ">\n<div class="container">\n<div class="row">\n<div class="col-md-12">\n\n<div class="row race-search-res-container">\n<div class="race-search-res-div-main col-xs-12">\n<h2>St. Jude Rock &#39;n&#39; Roll Nashville Marathon<br /><small>Saturday, April 30, 2016</small></h2>\n<div class="race-search-main col-xs-12">\n<div class="race-search-top10-div">\n<table class="table table-responsive table-bordered">\n<tr>\n<th class="table-place">Overall</th>\n<th class="table-place">Bib</th>\n<th class="table-name">Name</th>\n<th class="table-time">Time</th>\n</tr>\n<tr>\n<td>1</td>\n<td>1</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1">Scott Wietecha</a></td>\n<td>02:25:42</td>\n</tr>\n<tr>\n<td>2</td>\n<td>3</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=3">Brian Shelton</a></td>\n<td>02:34:43</td>\n</tr>\n<tr>\n<td>3</td>\n<td>1047</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1047">Christopher Capps</a></td>\n<td>02:38:43</td>\n</tr>\n<tr>\n<td>4</td>\n<td>1052</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1052">Jason Grimes</a></td>\n<td>02:45:06</td>\n</tr>\n<tr>\n<td>5</td>\n<td>1046</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1046">David Adams</a></td>\n<td>02:47:28</td>\n</tr>\n<tr>\n<td>6</td>\n<td>1049</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1049">Matthew Meinema</a></td>\n<td>02:47:36</td>\n</tr>\n<tr>\n<td>7</td>\n<td>1044</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1044">Seth Carley</a></td>\n<td>02:48:22</td>\n</tr>\n<tr>\n<td>8</td>\n<td>1092</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1092">Ben Becker</a></td>\n<td>02:52:19</td>\n</tr>\n<tr>\n<td>9</td>\n<td>1057</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1057">Jonathan Mason</a></td>\n<td>02:53:38</td>\n</tr>\n<tr>\n<td>10</td>\n<td>1058</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1058">Matt Treat</a></td>\n<td>02:53:48</td>\n</tr>\n<tr>\n<td>11</td>\n<td>1067</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1067">Kevin Selinsky</a></td>\n<td>02:55:49</td>\n</tr>\n<tr>\n<td>12</td>\n<td>1069</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1069">Cole Bataille</a></td>\n<td>02:56:56</td>\n</tr>\n<tr>\n<td>13</td>\n<td>1087</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1087">Joseph Shields</a></td>\n<td>02:58:53</td>\n</tr>\n<tr>\n<td>14</td>\n <td>1108</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1108">Melanie Kulesz</a></td>\n<td>02:59:09</td>\n</tr>\n<tr>\n<td>15</td>\n<td>2014</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=2014">Kieran Frost</a></td>\n<td>02:59:30</td>\n</tr>\n<tr>\n<td>16</td>\n<td>1155</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1155">Brian Wiest</a></td>\n<td>02:59:51</td>\n</tr>\n<tr>\n<td>17</td>\n<td>1048</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1048">Braden Robbins</a></td>\n<td>03:00:26</td>\n</tr>\n<tr>\n<td>18</td>\n<td>1080</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1080">Bo Brewer</a></td>\n<td>03:01:09</td>\n</tr>\n<tr>\n<td>19</td>\n<td>27408</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=27408">Bryan Larison</a></td>\n<td>03:01:23</td>\n</tr>\n<tr>\n<td>20</td>\n<td>101</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=101">Megan Hovis</a></td>\n<td>03:04:49</td>\n</tr>\n<tr>\n<td>21</td>\n<td>2003</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=2003">Ryan Ladd</a></td>\n<td>03:05:51</td>\n</tr>\n<tr>\n<td>22</td>\n<td>1081</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1081">Mark Temme</a></td>\n<td>03:06:21</td>\n</tr>\n<tr>\n<td>23</td>\n<td>1137</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1137">Alexandre Jamar</a></td>\n<td>03:06:22</td>\n</tr>\n<tr>\n<td>24</td>\n<td>1142</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1142">Shandra Moore</a></td>\n<td>03:08:32</td>\n</tr>\n<tr>\n<td>25</td>\n<td>1085</td>\n<td><a href="/en/Events/Nashville/The-Races/Marathon/2016-Results/Athlete?id=1085">Thomas Von Der Ohe</a></td>\n<td>03:08:39</td>\n</tr>\n</table>\n<div class="pager">\n<form action="/Events/Nashville/The-Races/Marathon/2016-Results" class="pager col-xs-12" id="list-pager" method="post"><div class="pagination-container"><ul class="pagination"><li class="disabled PagedList-skipToPrevious"><a rel="prev"><</a></li><li class="active"><span>1</span></li><li><a href="https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&amp;agegroup=&amp;bib=&amp;firstname=&amp;lastname=&amp;page=2">2</a></li><li><a href="https://www.runrocknroll.co

In [47]:
soup2016f = BeautifulSoup(result2016f.content)
print(soup2016f.title)

<title> | Rock n Roll Marathon Series | Marathon Half Marathon Events</title>

<font color=green>**Making the URL's HTML code organized and readable**<font>

In [48]:
print(soup2016f.prettify())

<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <script src="/cdn-cgi/apps/head/7FoXDn8p6JbK9hG0NSbLyMKO0Zg.js">
  </script>
  <link href="/styles/vendor.min.css" rel="stylesheet"/>
  <link href="/styles/rnr.min.css" rel="stylesheet"/>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   | Rock n Roll Marathon Series | Marathon Half Marathon Events
  </title>
  <meta content="" property="og:title"/>
  <meta content="" property="og:image"/>
  <meta content="" property="og:description"/>
  <meta content="https://www.runrocknroll.com:443/en/Events/Nashville/The Races/Marathon/2016 Results" property="og:url"/>
  <script>
   (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MFKTKL');
  </script>
  <script type="text/javascript">
   (function () {
            var didInit = false;
            function initMunchkin() {
                if (didInit === false) {
                    didInit = true;
                    Munchkin.init('124-QVG-738');
                }
            }
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//munchkin.marketo.net/munchkin.js';
            s.onreadystatechange = function () {
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    initMunchkin();
                }
            };
            s.onload = initMunchkin;
            document.getElementsByTagName('head')[0].appendChild(s);
        })();
  </script>
  <script src="/scripts/Sitecore.Foundation.Frameworks.min.js">
  </script>
  <script src="/scripts/Sitecore.Foundation.Theming.min.js">
  </script>
  <meta content="637049702327679565" name="VIcurrentDateTime"/>
  <script src="/layouts/system/VisitorIdentification.js" type="text/javascript">
  </script>
 </head>
 <body class="header-static">
  <noscript>
   <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-MFKTKL" style="display:none;visibility:hidden" width="0">
   </iframe>
  </noscript>
  <div id="main-container">
   <header class="header-static">
    <nav class="navbar navbar-default navbar-static" id="mainNavbar">
     <div class="container">
      <div class="row">
       <div class="nav-wrapper">
        <div class="navbar-right col-sm-12 col-md-2 col-lg-2 clearfix">
         <div class="navbar-activity event-navbar-activity">
          <ul class="nav navbar-nav">
           <li class="dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
             <i class="fa fa-globe">
             </i>
            </a>
            <ul class="dropdown-menu">
             <li class="">
              <a href="https://www.runrocknroll.com:443/it/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage('it', 'en', 'https://www.runrocknroll.com:443/it/events/nashville/the races/marathon/2016 results/')">
               italiano
              </a>
             </li>
             <li class="">
              <a href="https://www.runrocknroll.com:443/zh/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage('zh', 'en', 'https://www.runrocknroll.com:443/zh/events/nashville/the races/marathon/2016 results/')">
               中文
              </a>
             </li>
             <li class="active">
              <a href="https://www.runrocknroll.com:443/en/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage('en', 'en', 'https://www.runrocknroll.com:443/en/events/nashville/the races/marathon/2016 results/')">
               English
              </a>
             </li>
             <li class="">
              <a href="https://www.runrocknroll.com:443/fr/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage('fr', 'en', 'https://www.runrocknroll.com:443/fr/events/nashville/the races/marathon/2016 results/')">
               français
              </a>
             </li>
             <li class="">
              <a href="https://www.runrocknroll.com:443/de/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage('de', 'en', 'https://www.runrocknroll.com:443/de/events/nashville/the races/marathon/2016 results/')">
               Deutsch
              </a>
             </li>
             <li class="">
              <a href="https://www.runrocknroll.com:443/es/events/nashville/the races/marathon/2016 results/" onclick="return SwitchToLanguage('es', 'en', 'https://www.runrocknroll.com:443/es/events/nashville/the races/marathon/2016 results/')">
               español
              </a>
             </li>
            </ul>
           </li>
           <li class="navbar-activity-search dropdown">
            <form action="/en/Search" class="navbar-form" role="search">
             <div class="form-group">
              <input autocomplete="off" id="searchInputBox" name="query" placeholder="Enter a text to search for..." type="text"/>
             </div>
            </form>
            <a class="btn navbar-toggle-search" data-target="#mainNavbar" data-toggle-class="is-searching" href="#">
             <span class="glyphicon glyphicon-search">
             </span>
            </a>
            <div class="dropdown-menu dropdown-menu-wide" id="navbar-activity-search-results">
             <div class="row panel-loading">
              <div class="col-md-12">
               <div class="text-center p-b-1">
                Searching...
               </div>
               <div class="text-center">
                <span class="fa fa-spinner fa-2x fa-spin">
                </span>
               </div>
              </div>
             </div>
             <div class="row panel-results">
              <div class="col-md-12">
               <ul class="media-list results">
               </ul>
              </div>
             </div>
             <div class="row panel-result-count">
              <div class="col-md-12">
               <small>
                <em class="result-count">
                </em>
                search results found.
               </small>
              </div>
             </div>
             <div class="row panel-facet-values">
              <div class="col-md-12">
               <ul class="facet-values">
               </ul>
              </div>
             </div>
             <div class="row">
              <div class="col-md-12">
               <button class="btn btn-primary btn-sm pull-right" onclick="$('.navbar-activity-search form').submit()">
                Search
               </button>
              </div>
             </div>
            </div>
           </li>
          </ul>
         </div>
         <div class="event-countdown">
          <input id="yEvent" type="hidden" value="2020"/>
          <input id="mEvent" type="hidden" value="4"/>
          <input id="dEvent" type="hidden" value="25"/>
          <input id="hEvent" type="hidden" value="0"/>
          <input id="mmEvent" type="hidden" value="0"/>
          <input id="sEvent" type="hidden" value="0"/>
          <table>
           <tr>
            <td id="ddcounter">
            </td>
            <td id="hhcounter">
            </td>
            <td id="mmcounter">
            </td>
            <td id="sscounter">
            </td>
           </tr>
           <tr>
            <th>
             Days
            </th>
            <th>
             Hours
            </th>
            <th>
             Mins
            </th>
            <th>
             Secs
            </th>
           </tr>
          </table>
         </div>
         <ul class="nav navbar-nav mega-menu-results header-btn">
          <li class="dropdown">
           <a class="dropdown-toggle btn btn-block" href="/en/Events/Nashville/Registration">
            Register
           </a>
          </li>
         </ul>
        </div>
        <div class="navbar-left col-sm-12 col-md-2 col-lg-2">
         <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#siteNavbar" data-toggle="collapse" type="button">
          <span class="sr-only">
           Toggle navigation
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
         </button>
         <a class="navbar-brand" href="/en">
          <span class="logo row">
           <img alt="Rock n Roll Marathon Series" disablewebedit="False" height="50" src="/-/media/RnR/Images/Logo/rock-n-roll-marathon-logo.png?h=50&amp;la=en&amp;mh=50&amp;w=270&amp;hash=B93502675AEE53BFDE866A7EEF0E5CD9" width="270"/>
          </span>
         </a>
        </div>
        <div class="navbar-center col-sm-12 col-md-8 col-lg-8">
         <div class="collapse navbar-collapse" id="siteNavbar">
          <ul class="nav navbar-nav">
           <li class="">
            <a class="text-uppercase" href="/en/Events" target="">
             Events
            </a>
           </li>
           <li class="">
            <a class="text-uppercase" href="/en/Programs" target="">
             Programs
            </a>
           </li>
           <li class="">
            <a class="text-uppercase" href="/en/Travel" target="">
             Travel
            </a>
           </li>
           <li class="">
            <a class="text-uppercase" href="/en/Results" target="">
             Results
            </a>
           </li>
           <li class="">
            <a class="text-uppercase" href="/en/Blog" target="">
             Blog
            </a>
           </li>
           <li class="">
            <a class="text-uppercase" href="https://www.runrocknrollstore.com/" target="_blank">
             Shop
            </a>
           </li>
           <li class="">
            <a class="text-uppercase" href="/en/Partners" target="">
             Partners
            </a>
           </li>
          </ul>
         </div>
         <div class="row nav-mega-menu">
          <div class="col-lg-12">
           <ul class="nav navbar-nav mega-menu-main">
            <li class="nav-2 col-lg-6 dropdown">
             <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle btn btn-block" data-toggle="dropdown" href="">
              The Races
             </a>
             <div class="mega-menu-content">
              <div class="row">
               <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="collapse navbar-collapse" id="siteNavbar">
                 <ul class="nav nav-service navbar-nav nav-pills">
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/FAQ" target="" title="FAQ">
                    FAQ
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/Confirm-Entry" target="" title="Confirm Entry">
                    Confirm Entry
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/Charity" target="" title="Charity">
                    Charity
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/Results" target="" title="Results">
                    Results
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/Road-Closures" target="" title="Road Closures">
                    Road Closures
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Elite-Athletes" target="" title="Elites">
                    Elites
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Programs/Athletes-with-Disabilities" target="" title="Athletes with Disabilities">
                    Athletes with Disabilities
                   </a>
                  </li>
                 </ul>
                </div>
               </div>
               <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="collapse navbar-collapse" id="siteNavbar">
                 <ul class="nav nav-service navbar-nav nav-pills">
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/Courses" target="" title="Courses">
                    Courses
                   </a>
                  </li>
                  <li class="active">
                   <a class="" href="/en/Events/Nashville/The-Races/Marathon" target="" title="Marathon">
                    Marathon
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/Half-Marathon" target="" title="Half Marathon">
                    Half Marathon
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/5K" target="" title="5k">
                    5k
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/1-Mile" target="" title="1 Mile">
                    1 Mile
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/Doggie-Dash" target="|Custom" title="Doggie Dash">
                    Doggie Dash
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Races/KiDS-ROCK" target="" title="KiDS ROCK">
                    KiDS ROCK
                   </a>
                  </li>
                 </ul>
                </div>
               </div>
              </div>
             </div>
            </li>
            <li class="nav-2 col-lg-6 dropdown">
             <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle btn btn-block" data-toggle="dropdown" href="">
              The Weekend
             </a>
             <div class="mega-menu-content">
              <div class="row">
               <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="collapse navbar-collapse" id="siteNavbar">
                 <ul class="nav nav-service navbar-nav nav-pills">
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Weekend/Expo" target="" title="Expo">
                    Expo
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Weekend/Schedule" target="" title="Schedule">
                    Schedule
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Weekend/Race-Weekend-Information-Center" target="|Custom" title="Race Weekend Information">
                    Race Weekend Information
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Weekend/Entertainment" target="" title="Entertainment">
                    Entertainment
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Weekend/Travel/Transport" target="|Custom" title="Parking Information">
                    Parking Information
                   </a>
                  </li>
                 </ul>
                </div>
               </div>
               <div class="col-xs-12 col-sm-2 col-md-2">
                <div class="collapse navbar-collapse" id="siteNavbar">
                 <ul class="nav nav-service navbar-nav nav-pills">
                  <li class="divider-left">
                   <a class="" href="/en/Events/Nashville/News-and-Promotions" target="|Custom" title="News and Promotions">
                    News and Promotions
                   </a>
                  </li>
                  <li class="divider-left">
                   <a class="" href="/en/Events/Nashville/The-Weekend/Runner-Perks" target="|Custom" title="Runner Perks">
                    Runner Perks
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Weekend/Volunteer" target="" title="Volunteer">
                    Volunteer
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Weekend/VIP" target="" title="VIP">
                    VIP
                   </a>
                  </li>
                  <li class="">
                   <a class="" href="/en/Events/Nashville/The-Weekend/Travel" target="" title="Travel">
                    Travel
                   </a>
                  </li>
                 </ul>
                </div>
               </div>
              </div>
             </div>
            </li>
           </ul>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </nav>
   </header>
   <main role="main">
    <header class="page-header bg-media" style="background-image:url('/-/media/RnR/Images/Events/Nashville/Images/nash-hero-new-compressor.jpg');">
     <div class="container breadcrumb-container">
      <ol class="breadcrumb">
       <li class="">
        <a href="/en">
         Home
        </a>
       </li>
       <li class="">
        <a href="/en/Events">
         Events
        </a>
       </li>
       <li class="">
        <a href="/en/Events/Nashville">
         Nashville
        </a>
       </li>
       <li class="">
        <a href="/en/Events/Nashville/The-Races">
         The Races
        </a>
       </li>
       <li class="">
        <a href="/en/Events/Nashville/The-Races/Marathon">
         Marathon
        </a>
       </li>
       <li class="active">
        <a href="/en/Events/Nashville/The-Races/Marathon/2016-Results">
         2018 Results
        </a>
       </li>
      </ol>
     </div>
     <div class="container text-center g-pb-50">
      <div class="row g-min-height-500">
       <div class="col-lg-12">
        <div class="event-header-container">
         <div class="row ev-h2-div">
          <div class="divider-div">
           <div class="low-divider">
           </div>
          </div>
          <div class="ev-h2">
           <h2>
            St. Jude Rock 'n' Roll
           </h2>
          </div>
          <div class="divider-div">
           <div class="low-divider">
           </div>
          </div>
         </div>
         <div class="ev-h1">
          <h1>
           Nashville
          </h1>
         </div>
         <div class="row ev-h3-div">
          <div class="divider-div">
           <div class="low-divider">
           </div>
          </div>
          <div class="ev-h3">
           <h3>
            <time>
             Apr 25 - 26, 2020
            </time>
           </h3>

<font color=green>**Looking at the first table on the webpage then loading it into a dataframe.**<font>

In [49]:
pd.read_html(str(soup2016f))[1]

    Overall    Bib                Name      Time
0         1      1      Scott Wietecha  02:25:42
1         2      3       Brian Shelton  02:34:43
2         3   1047   Christopher Capps  02:38:43
3         4   1052        Jason Grimes  02:45:06
4         5   1046         David Adams  02:47:28
5         6   1049     Matthew Meinema  02:47:36
6         7   1044         Seth Carley  02:48:22
7         8   1092          Ben Becker  02:52:19
8         9   1057      Jonathan Mason  02:53:38
9        10   1058          Matt Treat  02:53:48
10       11   1067      Kevin Selinsky  02:55:49
11       12   1069       Cole Bataille  02:56:56
12       13   1087      Joseph Shields  02:58:53
13       14   1108      Melanie Kulesz  02:59:09
14       15   2014        Kieran Frost  02:59:30
15       16   1155         Brian Wiest  02:59:51
16       17   1048      Braden Robbins  03:00:26
17       18   1080           Bo Brewer  03:01:09
18       19  27408       Bryan Larison  03:01:23
19       20    101         Megan Hovis  03:04:49
20       21   2003           Ryan Ladd  03:05:51
21       22   1081          Mark Temme  03:06:21
22       23   1137     Alexandre Jamar  03:06:22
23       24   1142       Shandra Moore  03:08:32
24       25   1085  Thomas Von Der Ohe  03:08:39

In [50]:
table12016 = pd.read_html(str(soup2016f))[1]

In [51]:
table12016.head()

   Overall   Bib               Name      Time
0        1     1     Scott Wietecha  02:25:42
1        2     3      Brian Shelton  02:34:43
2        3  1047  Christopher Capps  02:38:43
3        4  1052       Jason Grimes  02:45:06
4        5  1046        David Adams  02:47:28

<font color = red>**Now I want to load the 99th page of the 2019 full marathon data.**<font>

In [52]:
base = urlbase_2019
page = 99
url = base + str(99)

In [53]:
result = requests.post(url)
soup = BeautifulSoup(result.text)

In [54]:
soup

<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]--><!--[if !IE]><!--><html lang="en">
<!--<![endif]-->
<head>
<script src="/cdn-cgi/apps/head/7FoXDn8p6JbK9hG0NSbLyMKO0Zg.js"></script><link href="/styles/vendor.min.css" rel="stylesheet"/>
<link href="/styles/rnr.min.css" rel="stylesheet"/>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title> | Rock n Roll Marathon Series | Marathon Half Marathon Events</title>
<meta content="" property="og:title"/>
<meta content="" property="og:image"/>
<meta content="" property="og:description"/>
<meta content="https://www.runrocknroll.com:443/en/Events/Nashville/The Races/Marathon/2019 Results" property="og:url"/>
<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MFKTKL');
    </script>
<script type="text/javascript">
        (function () {
            var didInit = false;
            function initMunchkin() {
                if (didInit === false) {
                    didInit = true;
                    Munchkin.init('124-QVG-738');
                }
            }
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//munchkin.marketo.net/munchkin.js';
            s.onreadystatechange = function () {
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    initMunchkin();
                }
            };
            s.onload = initMunchkin;
            document.getElementsByTagName('head')[0].appendChild(s);
        })();
    </script>
<script src="/scripts/Sitecore.Foundation.Frameworks.min.js"></script>
<script src="/scripts/Sitecore.Foundation.Theming.min.js"></script>
<meta content="637049702362699377" name="VIcurrentDateTime"/>
<script src="/layouts/system/VisitorIdentification.js" type="text/javascript"></script>
</head>
<body class="header-static">
<noscript>
<iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-MFKTKL" style="display:none;visibility:hidden" width="0"></iframe>
</noscript>
<div id="main-container">
<header class="header-static">
<nav class="navbar navbar-default navbar-static" id="mainNavbar">
<div class="container">
<div class="row">
<div class="nav-wrapper">
<div class="navbar-right col-sm-12 col-md-2 col-lg-2 clearfix">
<div class="navbar-activity event-navbar-activity">
<ul class="nav navbar-nav">
<li class="dropdown">
<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
<i class="fa fa-globe"></i>
</a>
<ul class="dropdown-menu">
<li class="">
<a href="https://www.runrocknroll.com:443/it/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('it', 'en', 'https://www.runrocknroll.com:443/it/events/nashville/the races/marathon/2019 results/')">italiano</a>
</li>
<li class="">
<a href="https://www.runrocknroll.com:443/zh/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('zh', 'en', 'https://www.runrocknroll.com:443/zh/events/nashville/the races/marathon/2019 results/')">中文</a>
</li>
<li class="active">
<a href="https://www.runrocknroll.com:443/en/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('en', 'en', 'https://www.runrocknroll.com:443/en/events/nashville/the races/marathon/2019 results/')">English</a>
</li>
<li class="">
<a href="https://www.runrocknroll.com:443/fr/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('fr', 'en', 'https://www.runrocknroll.com:443/fr/events/nashville/the races/marathon/2019 results/')">français</a>
</li>
<li class="">
<a href="https://www.runrocknroll.com:443/de/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('de', 'en', 'https://www.runrocknroll.com:443/de/events/nashville/the races/marathon/2019 results/')">Deutsch</a>
</li>
<li class="">
<a href="https://www.runrocknroll.com:443/es/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('es', 'en', 'https://www.runrocknroll.com:443/es/events/nashville/the races/marathon/2019 results/')">español</a>
</li>
</ul>
</li><li class="navbar-activity-search dropdown">
<form action="/en/Search" class="navbar-form" role="search">
<div class="form-group">
<input autocomplete="off" id="searchInputBox" name="query" placeholder="Enter a text to search for..." type="text"/>
</div>
</form>
<a class="btn navbar-toggle-search" data-target="#mainNavbar" data-toggle-class="is-searching" href="#">
<span class="glyphicon glyphicon-search"></span>
</a>
<div class="dropdown-menu dropdown-menu-wide" id="navbar-activity-search-results">
<div class="row panel-loading">
<div class="col-md-12">
<div class="text-center p-b-1">
Searching...
</div>
<div class="text-center">
<span class="fa fa-spinner fa-2x fa-spin"></span>
</div>
</div>
</div>
<div class="row panel-results">
<div class="col-md-12">
<ul class="media-list results"></ul>
</div>
</div>
<div class="row panel-result-count">
<div class="col-md-12">
<small>
<em class="result-count"></em>
search results found.
</small>
</div>
</div>
<div class="row panel-facet-values">
<div class="col-md-12">
<ul class="facet-values"></ul>
</div>
</div>
<div class="row">
<div class="col-md-12">
<button class="btn btn-primary btn-sm pull-right" onclick="$('.navbar-activity-search form').submit()">Search</button>
</div>
</div>
</div>
</li>
</ul>
</div>
<div class="event-countdown">
<input id="yEvent" type="hidden" value="2020"/>
<input id="mEvent" type="hidden" value="4"/>
<input id="dEvent" type="hidden" value="25"/>
<input id="hEvent" type="hidden" value="0"/>
<input id="mmEvent" type="hidden" value="0"/>
<input id="sEvent" type="hidden" value="0"/>
<table>
<tr>
<td id="ddcounter"> </td>
<td id="hhcounter"> </td>
<td id="mmcounter"> </td>
<td id="sscounter"> </td>
</tr>
<tr>
<th>Days</th>
<th>Hours</th>
<th>Mins</th>
<th>Secs</th>
</tr>
</table>
</div>
<ul class="nav navbar-nav mega-menu-results header-btn">
<li class="dropdown">
<a class="dropdown-toggle btn btn-block" href="/en/Events/Nashville/Registration">Register</a>
</li>
</ul>
</div>
<div class="navbar-left col-sm-12 col-md-2 col-lg-2">
<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#siteNavbar" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/en">
<span class="logo row">
<img alt="Rock n Roll Marathon Series" disablewebedit="False" height="50" src="/-/media/RnR/Images/Logo/rock-n-roll-marathon-logo.png?h=50&amp;la=en&amp;mh=50&amp;w=270&amp;hash=B93502675AEE53BFDE866A7EEF0E5CD9" width="270"/>
</span>
</a>
</div>
<div class="navbar-center col-sm-12 col-md-8 col-lg-8">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav navbar-nav">
<li class="">
<a class="text-uppercase" href="/en/Events" target="">
Events
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Programs" target="">
Programs
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Travel" target="">
Travel
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Results" target="">
Results
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Blog" target="">
Blog
</a>
</li>
<li class="">
<a class="text-uppercase" href="https://www.runrocknrollstore.com/" target="_blank">
Shop
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Partners" target="">
Partners
</a>
</li>
</ul>
</div>
<div class="row nav-mega-menu">
<div class="col-lg-12">
<ul class="nav navbar-nav mega-menu-main">
<li class="nav-2 col-lg-6 dropdown">
<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle btn btn-block" data-toggle="dropdown" href="">
The Races
</a>
<div class="mega-menu-content">
<div class="row">
<div class="col-xs-12 col-sm-3 col-md-3">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav nav-service navbar-nav nav-pills">
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/FAQ" target="" title="FAQ">
FAQ </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Confirm-Entry" target="" title="Confirm Entry">
Confirm Entry </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Charity" target="" title="Charity">
Charity </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Results" target="" title="Results">
Results </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Road-Closures" target="" title="Road Closures">
Road Closures </a>
</li>
<li class="">
<a class="" href="/en/Elite-Athletes" target="" title="Elites">
Elites </a>
</li>
<li class="">
<a class="" href="/en/Programs/Athletes-with-Disabilities" target="" title="Athletes with Disabilities">
Athletes with Disabilities </a>
</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav nav-service navbar-nav nav-pills">
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Courses" target="" title="Courses">
Courses </a>
</li>
<li class="active">
<a class="" href="/en/Events/Nashville/The-Races/Marathon" target="" title="Marathon">
Marathon </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Half-Marathon" target="" title="Half Marathon">
Half Marathon </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/5K" target="" title="5k">
5k </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/1-Mile" target="" title="1 Mile">
1 Mile </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Doggie-Dash" target="|Custom" title="Doggie Dash">
Doggie Dash </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/KiDS-ROCK" target="" title="KiDS ROCK">
KiDS ROCK </a>
</li>
</ul>
</div>
</div>
</div> </div>
</li>
<li class="nav-2 col-lg-6 dropdown">
<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle btn btn-block" data-toggle="dropdown" href="">
The Weekend
</a>
<div class="mega-menu-content">
<div class="row">
<div class="col-xs-12 col-sm-3 col-md-3">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav nav-service navbar-nav nav-pills">
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Expo" target="" title="Expo">
Expo </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Schedule" target="" title="Schedule">
Schedule </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Race-Weekend-Information-Center" target="|Custom" title="Race Weekend Information">
Race Weekend Information </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Entertainment" target="" title="Entertainment">
Entertainment </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Travel/Transport" target="|Custom" title="Parking Information">
Parking Information </a>
</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-2 col-md-2">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav nav-service navbar-nav nav-pills">
<li class="divider-left">
<a class="" href="/en/Events/Nashville/News-and-Promotions" target="|Custom" title="News and Promotions">
News and Promotions </a>
</li>
<li class="divider-left">
<a class="" href="/en/Events/Nashville/The-Weekend/Runner-Perks" target="|Custom" title="Runner Perks">
Runner Perks </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Volunteer" target="" title="Volunteer">
Volunteer </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/VIP" target="" title="VIP">
VIP </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Travel" target="" title="Travel">
Travel </a>
</li>
</ul>
</div>
</div>
</div> </div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</nav>
</header>
<main role="main">
<header class="page-header bg-media" style="background-image:url('/-/media/RnR/Images/Events/Nashville/Images/nash-hero-new-compressor.jpg');">
<div class="container breadcrumb-container">
<ol class="breadcrumb">
<li class="">
<a href="/en">Home</a>
</li>
<li class="">
<a href="/en/Events">Events</a>
</li>
<li class="">
<a href="/en/Events/Nashville">Nashville</a>
</li>
<li class="">
<a href="/en/Events/Nashville/The-Races">The Races</a>
</li>
<li class="">
<a href="/en/Events/Nashville/The-Races/Marathon">Marathon</a>
</li>
<li class="active">
<a href="/en/Events/Nashville/The-Races/Marathon/2019-Results">2019 Results</a>
</li>
</ol>
</div>
<div class="container text-center g-pb-50">
<div class="row g-min-height-500">
<div class="col-lg-12">
<div class="event-header-container">
<div class="row ev-h2-div">
<div class="divider-div">
<div class="low-divider"></div>
</div>
<div class="ev-h2">
<h2>
St. Jude Rock 'n' Roll </h2>
</div>
<div class="divider-div">
<div class="low-divider"></div>
</div>
</div>
<div class="ev-h1">
<h1>
Nashville </h1>
</div>
<div class="row ev-h3-div">
<div class="divider-div">
<div class="low-divider"></div>
</div>
<div class="ev-h3">
<h3>
<time>
Apr 25 - 26, 2020
</time>
</h3>
</div>
<div class="divider-div">
<div class="low-divider"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
<section class="section section-full">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="row race-search-res-container">
<div class="race-search-res-div-main col-xs-12">
<h2>St. Jude Rock 'n' Roll Nashville Marathon<br/><small>Saturday, April 27, 2019</small></h2>
<div class="race-search-main col-xs-12">
<div class="race-search-top10-div">
<table class="table table-responsive table-bordered">
<tr>
<th class="table-place">Overall</th>
<th class="table-place">Bib</th>
<th class="table-name">Name</th>
<th class="table-time">Time</th>
</tr>
<tr>
<td>99999</td>
<td>30178</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30178">Timothy Thompson</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31037</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31037">Kelly Himmelberg</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31556</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31556">Candice Campbell</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32466</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32466">Tia Lea</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32228</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32228">Haley Riley</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32638</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32638">Jason Carroll</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32090</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32090">Tammy Crogan</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32558</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32558">Rakesh Singh</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32684</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32684">Jackeline Sosa</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30911</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30911">Maximilian Carter</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32341</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32341">David Chadwick</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32409</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32409">Carmen Hallock</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31123</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31123">Ken Mayo</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30366</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30366">Todd Moore</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31349</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31349">Andrew Gandee</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30955</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30955">Philip Draper</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30337</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30337">Joshua Knickerbocker</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30905</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30905">Andy Caravello</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32007</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32007">Leslie Smith</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31694</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31694">Keli Brown</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>33046</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=33046">Kerry Tolley</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31613</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31613">Daniel Valenti</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31562</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31562">Laura Drew</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31657</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31657">Keith Andersen</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31970</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31970">Michelle Rador</a></td>
<td>00:00:00</td>
</tr>
</table>
<div class="pager">

<font color=red>**After looking at the HTML code, the table I want to load has the class description: "table table-responsive table-bordered".**<font>

In [55]:
#tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})

In [56]:
#pd.read_html(str(tables[2]))

In [57]:
#results_list1 = pd.read_html(str(tables[0]))

<font color=red>**Now I'll inspect the table and modify it until I have a pandas dataframe.**<font>

In [58]:
# type(results_list1)

In [59]:
#results_list1

In [60]:
#type(results_list1[0])

In [61]:
# results_list1[0]

<font color = blue>**Now I'll create a for loop that loads ALL the pages of the 2016 Full Marathon data at once.**<font>

In [62]:
full_2016 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
for page in range(154):
    base2016f = urlbase_2016
    page += 1
    url2016f = base2016f + str(page)
    result2016f = requests.post(url2016f)
    #print(result2016f.status_code) 
    soup2016f = BeautifulSoup(result2016f.text, 'lxml')
    tables2016f = soup2016f.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
    results_list2016f = pd.read_html(str(tables2016f[0]))
    full_2016 = full_2016.append(results_list2016f)

In [63]:
full_2016.shape

(3842, 4)

<font color=blue>**I call value_counts() on the "Bib" column to make sure we don't have any duplicates since the "Bib" column is the unique ID for each runner**<font>

In [64]:
full_2016.reset_index().Bib.value_counts()

18061    1
18063    1
2096     1
2095     1
2094     1
2093     1
2092     1
2091     1
2090     1
11058    1
2088     1
2087     1
19099    1
2080     1
2084     1
2083     1
2082     1
2081     1
18464    1
2079     1
2078     1
2077     1
2076     1
2075     1
2074     1
2073     1
3053     1
11063    1
2069     1
2097     1
        ..
13054    1
7020     1
13071    1
25223    1
13085    1
13084    1
13082    1
13081    1
13080    1
13079    1
13078    1
13077    1
13076    1
13075    1
13074    1
13070    1
13055    1
13069    1
13068    1
13067    1
13066    1
13065    1
13063    1
13062    1
25218    1
13059    1
13058    1
13057    1
13056    1
1        1
Name: Bib, Length: 3842, dtype: int64

In [65]:
full_2016.head()

  Overall   Bib               Name      Time
0       1     1     Scott Wietecha  02:25:42
1       2     3      Brian Shelton  02:34:43
2       3  1047  Christopher Capps  02:38:43
3       4  1052       Jason Grimes  02:45:06
4       5  1046        David Adams  02:47:28

<font color=blue>**Now I'll do the same thing for the 2017 Full Marathon data.**<font>

In [66]:
full_2017 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
for page in range(147):
   base2017f = urlbase_2017
   page += 1
   url2017f = base2017f + str(page)
   result2017f = requests.post(url2017f)
   soup2017f = BeautifulSoup(result2017f.text, 'lxml')
   tables2017f = soup2017f.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
   results_list2017f = pd.read_html(str(tables2017f[0]))
   full_2017 = full_2017.append(results_list2017f)

In [67]:
full_2017.shape

(3651, 4)

<font color=blue>**I think it's a good idea to save the data to a csv file as I go.**<font>

In [68]:
full_2016.to_csv('data/full_2016.csv')

In [69]:
full_2017.to_csv('data/full_2017.csv')

In [70]:
full_2018 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
for page in range(85):
   base2018f = urlbase_2018
   page += 1
   url2018f = base2018f + str(page)
   result2018f = requests.post(url2018f)
   soup2018f = BeautifulSoup(result2018f.text, 'lxml')
   tables2018f = soup2018f.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
   results_list2018f = pd.read_html(str(tables2018f[0]))
   full_2018 = full_2018.append(results_list2018f)
full_2018.to_csv('data/full_2018.csv')

In [71]:
full_2018.head()

  Overall    Bib             Name      Time
0       1      1   Scott Wietecha  02:28:16
1       2      3     Garang Madut  02:29:52
2       3  33442       Kevin Fink  02:38:59
3       4  33441    Andrew Hodges  02:43:59
4       5  30028  Nicholas Aubert  02:48:11

In [72]:
full_2019 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
for page in range(113):
   base2019f = urlbase_2019
   page += 1
   url2019f = base2019f + str(page)
   result2019f = requests.post(url2019f)
   soup2019f = BeautifulSoup(result2019f.text, 'lxml')
   tables2019f = soup2019f.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
   results_list2019f = pd.read_html(str(tables2019f[0]))
   full_2019 = full_2019.append(results_list2019f)
full_2019.to_csv('data/full_2019.csv')

pgs_half_2016 = 898 | 
pgs_half_2017 = 892 | 
pgs_half_2018 = 598 | 
pgs_half_2019 = 690 |

In [73]:
full_2019.head()

  Overall    Bib            Name      Time
0       1  30001  Travis Peruski  01:37:54
1       2      1  Scott Wietecha  02:34:59
2       3      4   Jordan Wilson  02:35:24
3       4  30034  Steelton Flynn  02:39:59
4       5  30035    Thomas Ellis  02:42:09

In [74]:
full_2019.shape

(2811, 4)

In [75]:
full_2019.Bib.value_counts()

32767    1
30604    1
30614    1
30612    1
30611    1
30610    1
30609    1
30608    1
30607    1
30606    1
30603    1
30616    1
30602    1
30601    1
30600    1
30599    1
30597    1
30596    1
30595    1
30594    1
30615    1
30617    1
30591    1
30628    1
30636    1
30635    1
30634    1
30633    1
30632    1
30631    1
        ..
31653    1
31651    1
31650    1
31649    1
31647    1
31646    1
31645    1
31644    1
31664    1
31665    1
31666    1
31667    1
31685    1
31684    1
31683    1
31682    1
31681    1
31680    1
31679    1
31678    1
31676    1
31675    1
31674    1
31673    1
31672    1
31671    1
31670    1
31669    1
31668    1
1        1
Name: Bib, Length: 2811, dtype: int64

<font color=blue>**Now I'll use pd.concat() to combine all the full marathon data into one dataframe**<font>

In [76]:
all_full_marathons = pd.concat([full_2016, full_2017, full_2018, full_2019])

In [77]:
all_full_marathons.shape

(12419, 4)

In [78]:
all_full_marathons.head()

  Overall   Bib               Name      Time
0       1     1     Scott Wietecha  02:25:42
1       2     3      Brian Shelton  02:34:43
2       3  1047  Christopher Capps  02:38:43
3       4  1052       Jason Grimes  02:45:06
4       5  1046        David Adams  02:47:28

<font color = blue>**After inspecting the new dataframe, I realize it would be smart to add a "Year" column to tell when someone ran the marathon, and since I'll be concating the half marathon data as well, I add a "Mar_Type" column to tell if someone ran the full or half marathon. I'll do this on each individual dataframe and then use pd.concat() again.**<font>

In [79]:
full_2016['Year'] = 2016
full_2016['Mar_Type'] = 'Full'
full_2017['Year'] = 2017
full_2017['Mar_Type'] = 'Full'
full_2018['Year'] = 2018
full_2018['Mar_Type'] = 'Full'
full_2019['Year'] = 2019
full_2019['Mar_Type'] = 'Full'

In [80]:
full_2016.head()

  Overall   Bib               Name      Time  Year Mar_Type
0       1     1     Scott Wietecha  02:25:42  2016     Full
1       2     3      Brian Shelton  02:34:43  2016     Full
2       3  1047  Christopher Capps  02:38:43  2016     Full
3       4  1052       Jason Grimes  02:45:06  2016     Full
4       5  1046        David Adams  02:47:28  2016     Full

In [81]:
full_2017.head()

  Overall   Bib            Name      Time  Year Mar_Type
0       1     1  Scott Wietecha  02:40:25  2017     Full
1       2  1145    Ryan Regnier  02:56:28  2017     Full
2       3  1147  Daniel Everett  03:00:55  2017     Full
3       4  1029   Khris Vickroy  03:04:47  2017     Full
4       5  1119  Marcus Dilallo  03:04:53  2017     Full

In [82]:
full_2018.head()

  Overall    Bib             Name      Time  Year Mar_Type
0       1      1   Scott Wietecha  02:28:16  2018     Full
1       2      3     Garang Madut  02:29:52  2018     Full
2       3  33442       Kevin Fink  02:38:59  2018     Full
3       4  33441    Andrew Hodges  02:43:59  2018     Full
4       5  30028  Nicholas Aubert  02:48:11  2018     Full

In [83]:
full_2019.head()

  Overall    Bib            Name      Time  Year Mar_Type
0       1  30001  Travis Peruski  01:37:54  2019     Full
1       2      1  Scott Wietecha  02:34:59  2019     Full
2       3      4   Jordan Wilson  02:35:24  2019     Full
3       4  30034  Steelton Flynn  02:39:59  2019     Full
4       5  30035    Thomas Ellis  02:42:09  2019     Full

In [84]:
all_full_marathons = pd.concat([full_2016, full_2017, full_2018, full_2019])

In [85]:
all_full_marathons.shape

(12419, 6)

In [86]:
all_full_marathons.to_csv('data/all_full_marathons.csv')

In [87]:
all_full_marathons.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12419 entries, 0 to 10
Data columns (total 6 columns):
Overall     12419 non-null object
Bib         12419 non-null object
Name        12419 non-null object
Time        12419 non-null object
Year        12419 non-null int64
Mar_Type    12419 non-null object
dtypes: int64(1), object(5)
memory usage: 679.2+ KB

<font color=blue>**After looking over my new dataframe, I decide I want to change some of the dtypes for some of the columns.**<font>

In [88]:
all_full_marathons = all_full_marathons.astype({'Overall':'int64', 'Bib':'int64', 'Mar_Type':'category'})

In [89]:
all_full_marathons.dtypes

Overall        int64
Bib            int64
Name          object
Time          object
Year           int64
Mar_Type    category
dtype: object

In [90]:
all_full_marathons.head()

   Overall   Bib               Name      Time  Year Mar_Type
0        1     1     Scott Wietecha  02:25:42  2016     Full
1        2     3      Brian Shelton  02:34:43  2016     Full
2        3  1047  Christopher Capps  02:38:43  2016     Full
3        4  1052       Jason Grimes  02:45:06  2016     Full
4        5  1046        David Adams  02:47:28  2016     Full

In [91]:
all_full_marathons.tail()

    Overall    Bib                Name      Time  Year Mar_Type
6     99999  32005      Brittany Small  00:00:00  2019     Full
7     99999  32762  Jacqueline Johnson  00:00:00  2019     Full
8     99999  30304           Kevin Fox  00:00:00  2019     Full
9     99999  32183      Clarisa Horton  00:00:00  2019     Full
10    99999  32258      Krista Zanetti  00:00:00  2019     Full

<font color=blue>**Now I want to reset the index of the dataframe so all rows will have their own unique identifier**<font>

In [92]:
all_full_marathons = all_full_marathons.reset_index()

In [93]:
all_full_marathons.head()

   index  Overall   Bib               Name      Time  Year Mar_Type
0      0        1     1     Scott Wietecha  02:25:42  2016     Full
1      1        2     3      Brian Shelton  02:34:43  2016     Full
2      2        3  1047  Christopher Capps  02:38:43  2016     Full
3      3        4  1052       Jason Grimes  02:45:06  2016     Full
4      4        5  1046        David Adams  02:47:28  2016     Full

<font color=blue>**After checking the dataframe, I see a column was added. Let's drop it since it's not neccessary. Next time I reset the index, I'll do reset_index(drop = True) in order to prevent the extra column being added**</font>

In [94]:
all_full_marathons = all_full_marathons.drop(columns = 'index')

In [95]:
all_full_marathons.head()

   Overall   Bib               Name      Time  Year Mar_Type
0        1     1     Scott Wietecha  02:25:42  2016     Full
1        2     3      Brian Shelton  02:34:43  2016     Full
2        3  1047  Christopher Capps  02:38:43  2016     Full
3        4  1052       Jason Grimes  02:45:06  2016     Full
4        5  1046        David Adams  02:47:28  2016     Full

In [96]:
all_full_marathons.tail()

       Overall    Bib                Name      Time  Year Mar_Type
12414    99999  32005      Brittany Small  00:00:00  2019     Full
12415    99999  32762  Jacqueline Johnson  00:00:00  2019     Full
12416    99999  30304           Kevin Fox  00:00:00  2019     Full
12417    99999  32183      Clarisa Horton  00:00:00  2019     Full
12418    99999  32258      Krista Zanetti  00:00:00  2019     Full

In [97]:
all_full_marathons.to_csv('data/all_full_marathons.csv')

<font color = blue>**Instead of writing a for loop for every time I need to create a dataframe, I now want to create a function that will do that for me when I call it. To do that, I make a few modifications to my existing for loop and nest it inside a function.**</font>

In [98]:
def create_df(url_base, page_count, df):
    for page in range(1, page_count + 1):
        url = url_base + str(page)
        #print(url)
        r = requests.post(url)
        #print(r.status_code)
        soup = BeautifulSoup(r.text, 'lxml')
        tables = soup.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
        results = pd.read_html(str(tables[0])) 
        df = df.append(results)
    return df.reset_index(drop = True)

<font color=blue>**Now I simply use the function to create a dataframe from the 2017 half marathon URL.**</font>

In [99]:
half_2017 = create_df(urlbase_half_2017, pgs_half_2017, half_2017)

In [100]:
half_2017.head()

  Overall   Bib            Name      Time
0       1   202   Tyler Andrews  01:10:58
1       2   204     Bill Martin  01:11:25
2       3   206     Nick French  01:11:42
3       4   201  Roosevelt Cook  01:13:20
4       5  1655     Erick Kigen  01:14:56

In [101]:
half_2017.tail()

      Overall    Bib              Name      Time
22287   99999  27454      John Hofmann  00:00:00
22288   99999  37356     Joseph Holder  00:00:00
22289   99999  28230       Beth Fritch  00:00:00
22290   99999  21283    Harmon Roberts  00:00:00
22291   99999  11428  Coreen Donaldson  00:00:00

<font color=blue>**Now let's run the function for the remaining half marathon URL's.**</font>

In [102]:
half_2016 = create_df(urlbase_half_2016, pgs_half_2016, half_2016)

In [103]:
half_2016.head()

  Overall   Bib            Name      Time
0       1   201  Roosevelt Cook  01:11:15
1       2   204     Bill Martin  01:11:50
2       3  1623    Cody Hodgins  01:13:43
3       4  1222   Andrew Archer  01:15:04
4       5  1224    Brian Syring  01:15:30

In [104]:
half_2018 = create_df(urlbase_half_2018, pgs_half_2018, half_2018)
half_2018.head()

  Overall  Bib            Name      Time
0       1  103  Roosevelt Cook  01:09:25
1       2  107    Lucas Cotter  01:09:51
2       3  105     Nick French  01:10:38
3       4  106    Jason Vincze  01:11:50
4       5  104   Joseph Elsakr  01:13:28

In [105]:
half_2019 = create_df(urlbase_half_2019, pgs_half_2019, half_2019)
half_2019.head()

  Overall   Bib           Name      Time
0       1    31    Nick French  01:10:03
1       2    33   Ian Bordelon  01:12:15
2       3    32  Chris Demetra  01:12:52
3       4  1025   Grayson Reid  01:15:10
4       5    34   Jason Vincze  01:17:01

In [106]:
half_2016.shape

(22429, 4)

In [107]:
half_2017.shape

(22292, 4)

In [108]:
half_2018.shape

(14940, 4)

In [109]:
half_2019.shape

(17236, 4)

<font color=blue>**Now I'll add the "Year" and "Mar_Type" columns before I concat the dataframes into one.**</font>

In [110]:
half_2016['Year'] = 2016
half_2016['Mar_Type'] = 'Half'
half_2017['Year'] = 2017
half_2017['Mar_Type'] = 'Half'
half_2018['Year'] = 2018
half_2018['Mar_Type'] = 'Half'
half_2019['Year'] = 2019
half_2019['Mar_Type'] = 'Half'

In [111]:
half_2016.head(2)

  Overall  Bib            Name      Time  Year Mar_Type
0       1  201  Roosevelt Cook  01:11:15  2016     Half
1       2  204     Bill Martin  01:11:50  2016     Half

<font color=blue>**I want to create a csv file for each dataframe, just in case something happens. That way I won't have to repeat any of the previous steps. I can just load these into a notebook.**</font>

In [112]:
half_2016.to_csv('data/half_2016.csv')
half_2017.to_csv('data/half_2017.csv')
half_2018.to_csv('data/half_2018.csv')
half_2019.to_csv('data/half_2019.csv')

<font color=blue>**Now I'll concat them all together and clean them up a little bit before creating a csv file for all the half marathons**</font>

In [113]:
all_half_marathons = pd.concat([half_2016, half_2017, half_2018, half_2019])

In [114]:
all_half_marathons = all_half_marathons.astype({'Overall':'int64', 'Bib':'int64', 'Mar_Type':'category'})

In [115]:
all_half_marathons.head()

   Overall   Bib            Name      Time  Year Mar_Type
0        1   201  Roosevelt Cook  01:11:15  2016     Half
1        2   204     Bill Martin  01:11:50  2016     Half
2        3  1623    Cody Hodgins  01:13:43  2016     Half
3        4  1222   Andrew Archer  01:15:04  2016     Half
4        5  1224    Brian Syring  01:15:30  2016     Half

In [116]:
all_half_marathons.tail()

       Overall    Bib              Name      Time  Year Mar_Type
17231    99999   6940     Katie Jeffers  00:00:00  2019     Half
17232    99999  12755     Anna Phillips  00:00:00  2019     Half
17233    99999   8804     Brocknie Bray  00:00:00  2019     Half
17234    99999   8691        Tyler King  00:00:00  2019     Half
17235    99999  12830  Shannon Schnable  00:00:00  2019     Half

In [117]:
all_half_marathons.reset_index(drop = True)
all_half_marathons.head()

   Overall   Bib            Name      Time  Year Mar_Type
0        1   201  Roosevelt Cook  01:11:15  2016     Half
1        2   204     Bill Martin  01:11:50  2016     Half
2        3  1623    Cody Hodgins  01:13:43  2016     Half
3        4  1222   Andrew Archer  01:15:04  2016     Half
4        5  1224    Brian Syring  01:15:30  2016     Half

In [118]:
all_half_marathons.tail()

       Overall    Bib              Name      Time  Year Mar_Type
17231    99999   6940     Katie Jeffers  00:00:00  2019     Half
17232    99999  12755     Anna Phillips  00:00:00  2019     Half
17233    99999   8804     Brocknie Bray  00:00:00  2019     Half
17234    99999   8691        Tyler King  00:00:00  2019     Half
17235    99999  12830  Shannon Schnable  00:00:00  2019     Half

In [119]:
all_half_marathons.to_csv('data/all_half_marathons.csv')

<font color=blue>**Finally, I want to combine all the marathon data into one dataframe.**</font>

In [120]:
marathons = pd.concat([all_full_marathons, all_half_marathons])
marathons.shape

(89316, 6)

In [121]:
marathons = marathons.reset_index(drop=True)

In [122]:
marathons.head()

   Overall   Bib               Name      Time  Year Mar_Type
0        1     1     Scott Wietecha  02:25:42  2016     Full
1        2     3      Brian Shelton  02:34:43  2016     Full
2        3  1047  Christopher Capps  02:38:43  2016     Full
3        4  1052       Jason Grimes  02:45:06  2016     Full
4        5  1046        David Adams  02:47:28  2016     Full

In [123]:
marathons.tail()

       Overall    Bib              Name      Time  Year Mar_Type
89311    99999   6940     Katie Jeffers  00:00:00  2019     Half
89312    99999  12755     Anna Phillips  00:00:00  2019     Half
89313    99999   8804     Brocknie Bray  00:00:00  2019     Half
89314    99999   8691        Tyler King  00:00:00  2019     Half
89315    99999  12830  Shannon Schnable  00:00:00  2019     Half

In [124]:
marathons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 6 columns):
Overall     89316 non-null int64
Bib         89316 non-null int64
Name        89316 non-null object
Time        89316 non-null object
Year        89316 non-null int64
Mar_Type    89316 non-null object
dtypes: int64(3), object(3)
memory usage: 4.1+ MB

In [125]:
marathons.to_csv('data/all_marathons.csv')

**I want to compare Nashville's full marathon data to other cities. Wash, rinse, and repeat!**

In [126]:
seattle_full_2016_url = 'https://www.runrocknroll.com/Events/Seattle/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
seattle_full_2016_pgs = 147
seattle_full_2016 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])

In [127]:
seattle_full_2016 = create_df(seattle_full_2016_url, seattle_full_2016_pgs, seattle_full_2016)

In [128]:
seattle_full_2016.head()

  Overall   Bib                  Name      Time
0       1     2  Samuel Golitom Hadgu  02:26:01
1       2  1015            Jeff Stein  02:31:05
2       3  1046         Andrew Ivanov  02:32:49
3       4  1030         Steve Vesbach  02:42:38
4       5  1158    Alexander Rockhill  02:42:48

In [129]:
seattle_full_2016.tail()

     Overall    Bib             Name      Time
3661   99999  14033    Michael Smith  00:00:00
3662   99999   1100  Marssie Versola  00:00:00
3663   99999  19074    Melissa Brown  00:00:00
3664   99999  12038    Alexis Dunkin  00:00:00
3665   99999  20031         Gary Lai  00:00:00

In [130]:
seattle_full_2017_url = 'https://www.runrocknroll.com/Events/Seattle/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
seattle_full_2017_pgs = 135
seattle_full_2017 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
seattle_full_2018_url = 'https://www.runrocknroll.com/Events/Seattle/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
seattle_full_2018_pgs = 70
seattle_full_2018 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
seattle_full_2019_url = 'https://www.runrocknroll.com/Events/Seattle/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
seattle_full_2019_pgs = 84
seattle_full_2019 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])

In [131]:
seattle_full_2017 = create_df(seattle_full_2017_url, seattle_full_2017_pgs, seattle_full_2017)

In [132]:
seattle_full_2018 = create_df(seattle_full_2018_url, seattle_full_2018_pgs, seattle_full_2018)

In [133]:
seattle_full_2019 = create_df(seattle_full_2019_url, seattle_full_2019_pgs, seattle_full_2019)

In [134]:
seattle_full_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2078 entries, 0 to 2077
Data columns (total 4 columns):
Overall    2078 non-null object
Bib        2078 non-null object
Name       2078 non-null object
Time       2078 non-null object
dtypes: object(4)
memory usage: 65.0+ KB

In [135]:
seattle_full_2019.head()

  Overall    Bib             Name      Time
0       1     49   Shaun Frandsen  02:36:12
1       2  22265   Bennett Grimes  02:37:39
2       3  22466        Tim Rigby  02:42:14
3       4  20033     Nolan Ripple  02:48:50
4       5  20032  Nolan Weinstein  02:48:50

In [136]:
seattle_full_2019.tail()

     Overall    Bib               Name      Time
2073   99999  20067    Joseph Martelli  00:00:00
2074   99999  22371       Joel Walters  00:00:00
2075   99999  21608   Melissa Anderson  00:00:00
2076   99999  21440     Karen Graboski  00:00:00
2077   99999  22193  Michel Carbonetti  00:00:00

In [137]:
seattle_full_2016['Year'] = 2016
seattle_full_2017['Year'] = 2017
seattle_full_2018['Year'] = 2018
seattle_full_2019['Year'] = 2019

In [138]:
seattle_marathons = pd.concat([seattle_full_2016, seattle_full_2017, seattle_full_2018, seattle_full_2019])

In [139]:
seattle_marathons.head()

  Overall   Bib                  Name      Time  Year
0       1     2  Samuel Golitom Hadgu  02:26:01  2016
1       2  1015            Jeff Stein  02:31:05  2016
2       3  1046         Andrew Ivanov  02:32:49  2016
3       4  1030         Steve Vesbach  02:42:38  2016
4       5  1158    Alexander Rockhill  02:42:48  2016

In [140]:
seattle_marathons.tail()

     Overall    Bib               Name      Time  Year
2073   99999  20067    Joseph Martelli  00:00:00  2019
2074   99999  22371       Joel Walters  00:00:00  2019
2075   99999  21608   Melissa Anderson  00:00:00  2019
2076   99999  21440     Karen Graboski  00:00:00  2019
2077   99999  22193  Michel Carbonetti  00:00:00  2019

In [141]:
seattle_marathons = seattle_marathons.reset_index(drop = True)

In [142]:
seattle_marathons.head()

  Overall   Bib                  Name      Time  Year
0       1     2  Samuel Golitom Hadgu  02:26:01  2016
1       2  1015            Jeff Stein  02:31:05  2016
2       3  1046         Andrew Ivanov  02:32:49  2016
3       4  1030         Steve Vesbach  02:42:38  2016
4       5  1158    Alexander Rockhill  02:42:48  2016

In [143]:
seattle_marathons.tail()

      Overall    Bib               Name      Time  Year
10848   99999  20067    Joseph Martelli  00:00:00  2019
10849   99999  22371       Joel Walters  00:00:00  2019
10850   99999  21608   Melissa Anderson  00:00:00  2019
10851   99999  21440     Karen Graboski  00:00:00  2019
10852   99999  22193  Michel Carbonetti  00:00:00  2019

In [146]:
seattle_marathons.dtypes

Overall    object
Bib        object
Name       object
Time       object
Year        int64
dtype: object

In [148]:
seattle_marathons = seattle_marathons.astype({'Overall':'int64', 'Bib':'int64'})

In [149]:
seattle_marathons.head(2)

   Overall   Bib                  Name      Time  Year
0        1     2  Samuel Golitom Hadgu  02:26:01  2016
1        2  1015            Jeff Stein  02:31:05  2016

In [150]:
seattle_marathons.to_csv('data/seattle_marathons.csv', index = False)

In [151]:
zona_full_2016_url = 'https://www.runrocknroll.com/Events/Arizona/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
zona_full_2016_pgs = 123
zona_full_2016 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
zona_full_2017_url = 'https://www.runrocknroll.com/Events/Arizona/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
zona_full_2017_pgs = 124
zona_full_2017 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
zona_full_2018_url = 'https://www.runrocknroll.com/Events/Arizona/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
zona_full_2018_pgs = 98
zona_full_2018 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
zona_full_2019_url = 'https://www.runrocknroll.com/Events/Arizona/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
zona_full_2019_pgs = 81
zona_full_2019 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])

In [152]:
zona_full_2016 = create_df(zona_full_2016_url, zona_full_2016_pgs, zona_full_2016)

In [153]:
zona_full_2017 = create_df(zona_full_2017_url, zona_full_2017_pgs, zona_full_2017)

In [154]:
zona_full_2018 = create_df(zona_full_2018_url, zona_full_2018_pgs, zona_full_2018)

In [155]:
zona_full_2019 = create_df(zona_full_2019_url, zona_full_2019_pgs, zona_full_2019)

In [156]:
zona_full_2016['Year'] = 2016
zona_full_2017['Year'] = 2017
zona_full_2018['Year'] = 2018
zona_full_2019['Year'] = 2019

In [157]:
arizona_marathons = pd.concat([zona_full_2016, zona_full_2017, zona_full_2018, zona_full_2019])

In [158]:
arizona_marathons.shape

(10610, 5)

In [159]:
arizona_marathons.head()

  Overall    Bib                Name      Time  Year
0       1  57037    Gerald Blanchard  00:35:50  2016
1       1  51409      Corey Petersen  02:27:18  2016
2       2  52042      Johnny Camacho  00:54:28  2016
3       3  56074         Dan Iwanaga  00:52:34  2016
4       4      8  Tommy Rivers Puzey  02:25:22  2016

In [160]:
arizona_marathons.tail()

     Overall    Bib             Name      Time  Year
2002   99999  21250  Paul Filipowicz  00:00:00  2019
2003   99999  20147    Jacob Onofrio  00:00:00  2019
2004   99999  22104     Frank Nagore  00:00:00  2019
2005   99999  21555     Susan Snyder  00:00:00  2019
2006   99999  21482     Chris Nguyen  00:00:00  2019

In [162]:
arizona_marathons = arizona_marathons.reset_index(drop = True)

In [163]:
arizona_marathons = arizona_marathons.astype({'Overall':'int64', 'Bib':'int64'})

In [164]:
arizona_marathons.dtypes

Overall     int64
Bib         int64
Name       object
Time       object
Year        int64
dtype: object

In [176]:
arizona_marathons.to_csv('data/arizona_marathons.csv', index = False)

In [166]:
dc_full_2016_url = 'https://www.runrocknroll.com/Events/DC/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
dc_full_2016_pgs = 103
dc_full_2016 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
dc_full_2017_url = 'https://www.runrocknroll.com/Events/DC/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
dc_full_2017_pgs = 147
dc_full_2017 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
dc_full_2018_url = 'https://www.runrocknroll.com/Events/DC/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
dc_full_2018_pgs = 76
dc_full_2018 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])
dc_full_2019_url = 'https://www.runrocknroll.com/Events/DC/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
dc_full_2019_pgs = 101
dc_full_2019 = pd.DataFrame(columns=['Overall', 'Bib', 'Name', 'Time'])

In [167]:
dc_full_2019 = create_df(dc_full_2019_url, dc_full_2019_pgs, dc_full_2019)

In [168]:
dc_full_2018 = create_df(dc_full_2018_url, dc_full_2018_pgs, dc_full_2018)

In [169]:
dc_full_2017 = create_df(dc_full_2017_url, dc_full_2017_pgs, dc_full_2017)

In [170]:
dc_full_2016 = create_df(dc_full_2016_url, dc_full_2016_pgs, dc_full_2016)

In [171]:
dc_full_2016['Year'] = 2016
dc_full_2017['Year'] = 2017
dc_full_2018['Year'] = 2018
dc_full_2019['Year'] = 2019

In [172]:
dumpsterville = pd.concat([dc_full_2016, dc_full_2017, dc_full_2018, dc_full_2019])

In [173]:
dumpsterville.shape

(10625, 5)

In [174]:
dumpsterville.head()

  Overall   Bib                   Name      Time  Year
0       1  6067  Alfredo Arevalo Reyes  02:30:04  2016
1       2     2              Steve Chu  02:34:09  2016
2       3  1151         Dirian Bonilla  02:37:25  2016
3       4  1154             Raul Lopez  02:42:14  2016
4       5  1059         Travis Hawkins  02:43:23  2016

In [175]:
dumpsterville.tail()

     Overall    Bib              Name      Time  Year
2499   99999  32021  Katherine Orsino  00:00:00  2019
2500   99999  31558    Michael Kohler  00:00:00  2019
2501   99999  32072   Melissa Houston  00:00:00  2019
2502   99999  31349      Karl Kniffin  00:00:00  2019
2503   99999  32156   Preston Griffin  00:00:00  2019

In [177]:
dumpsterville = dumpsterville.reset_index(drop = True)

In [178]:
dumpsterville = dumpsterville.astype({'Overall':'int64', 'Bib':'int64'})

In [179]:
dumpsterville.head(2)

   Overall   Bib                   Name      Time  Year
0        1  6067  Alfredo Arevalo Reyes  02:30:04  2016
1        2     2              Steve Chu  02:34:09  2016

In [180]:
dumpsterville.to_csv('data/washington_dc_marathons.csv', index = False)